{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row">
		{% for link in links %}
			<div class="col-md-4 box">
			    <h2><a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></h2>
			    <p>{{ link.desc }}</p>
			    <a href="{{ link.url }}" title="" target="_blank" class="btn btn-block btn-success">Ouvrir le lien</a>
			    <em>(by {{ link.user.username }})</em>

			    {% for tag in link.tags %}
			    	<a class="linkTag" href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer" >
			    		{{ tag.title }}
			    	</a>
			    {% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
