body { 
    padding-top: 100px; 
    background-color: #ededed;
}

.navconnect{
    background:rgba(50,38,121,1);
}

.navconnect.navbar-inverse .navbar-nav > .active > a,
.navconnect.navbar-inverse .navbar-nav > li > a:focus,
.navconnect.navbar-inverse .navbar-nav > li > a:hover {
	background:rgba(39,30,95,1);
}


#logo{
	width:230px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 25%;
    font-size: 0;
    background: url("../images/logo.png") no-repeat center center;
    background-size: 100%;
}

.linkTitle{
    clear : none;
    color:black;

}

.linkTitle:hover{
    text-decoration:none;
    color: darkgreen;
}

.box {
    background: white;
    width:30%;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    margin-right: 1%;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box:hover {
    background-color: #e0f0ff;
}

.linkTag{
    color: green;
}
.linkTag:hover, .linkTag:focus{
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}
